.searchInp{
    width: 50%;
    height: 50%;
    border:1px solid black ;
    outline: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: medium;
    font-weight: 200;
    letter-spacing: 1px;
}