.followMain{
    height: 100dvh;
    width: 100dvw;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
}
.user-table-container {
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    max-width: 800px;
    overflow: scroll;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
