*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:#eff4f9;
  font-family:"Inter", serif;
}
button{
  background-color: #007BFF;
  border:1px solid #6C757D;
  color: #F8F9FA;
}
button:hover{
  cursor: pointer;
  background-color: #2988ee;
}
a{
  text-decoration: none;
  color: black;
}